.DS_Store
Classes/.DS_Store
Classes/Domain/.DS_Store
Configuration/.DS_Store
Resources/.DS_Store
Resources/Private/.DS_Store
Resources/Private/Partials/.DS_Store
Resources/Private/Templates/.DS_Store
