<f:layout name="Default" />
<f:section name="main">
    <h1><b>{event.title}</b></h1>
    <p>
        <strong>Nummer:</strong> {event.number}<br>
        <strong>Ort:</strong> {event.location}<br>
        <strong>Beginn:</strong> <f:format.date format="d.m.Y H:i">{event.start}</f:format.date><br>
        <strong>Ende:</strong> <f:format.date format="d.m.Y H:i">{event.end}</f:format.date><br>
        <strong>Einsatzart:</strong> <f:for each="{event.types}" as="type">{type.title}</f:for><br>
    </p>
    <f:if condition="{event.description}">
        <div>
            <strong>Einsatzbericht:</strong>
            <f:format.html>{event.description}</f:format.html>
        </div>
    </f:if>
    <f:if condition="{event.deployments}">
        <ul>
            <f:for each="{event.deployments}" as="deployment">
                <f:render partial="Deployment/Item" arguments="{deployment: deployment}" />
            </f:for>
        </ul>
    </f:if>
    <div class="well columns-2">
        <h2><b>Kräfte & Mittel im Einsatz:</b></h2>
        <!-- Fahrzeuge -->
        <f:if condition="{groupedVehicleData}">
            <f:for each="{groupedVehicleData}" as="brigadeGroup">
                <h3><b><u>{brigadeGroup.name}</u></b></h3>
                <ul>
                    <f:for each="{brigadeGroup.stations}" as="stationGroup">
                        <li>
                            <b>
                                {stationGroup.name}<f:if condition="{stationGroup.vehicles -> f:count()}">:</f:if>
                            </b>
                            <f:for each="{stationGroup.vehicles}" as="vehicle" iteration="vehicleIterator">
                                <f:if condition="{vehicle.image} && {vehicle.link}">
                                    <f:then>
                                        <f:link.typolink parameter="{vehicle.link}" target="_blank" additionalAttributes="{rel: 'noopener noreferrer'}">
                                            <f:image image="{vehicle.image}" height="33" alt="{vehicle.name}" /><br />
                                            <span class="car-type">{vehicle.car.organization.icon} {vehicle.name}</span></f:link.typolink><f:if condition="!{vehicleIterator.isLast}">, </f:if>
                                    </f:then>
                                    <f:else>
                                        <f:if condition="{vehicle.image}">
                                            <f:then>
                                                <f:image image="{vehicle.image}" height="33" alt="{vehicle.name}" /><br />
                                                <span class="car-type">{vehicle.car.organization.icon} {vehicle.name}</span><f:if condition="!{vehicleIterator.isLast}">, </f:if>
                                            </f:then>
                                            <f:else>
                                                <f:if condition="{vehicle.link}">
                                                    <f:then>
                                                        <f:link.typolink parameter="{vehicle.link}" target="_blank" additionalAttributes="{rel: 'noopener noreferrer'}">
                                                            <span class="car-type">{vehicle.car.organization.icon} {vehicle.name}</span></f:link.typolink><f:if condition="!{vehicleIterator.isLast}">, </f:if>
                                                    </f:then>
                                                    <f:else>
                                                        <span class="car-type">{vehicle.car.organization.icon} {vehicle.name}</span><f:if condition="!{vehicleIterator.isLast}">, </f:if>
                                                    </f:else>
                                                </f:if>
                                            </f:else>
                                        </f:if>
                                    </f:else>
                                </f:if>
                            </f:for>
                        </li>
                    </f:for>
                </ul>
            </f:for>
        </f:if>
    </div>
    <!-- Bilder -->
    <f:if condition="{event.images}"><h2><b>Einsatzbilder:</b></h2></f:if>
      <f:for each="{event.images}" as="image">
          <a href="{f:uri.image(image: image, maxWidth: 1600)}" class="lightbox-img" rel="lightbox[event-{event.uid}]">
              <f:image image="{image}" maxWidth="400" alt="{event.title}" />
          </a>
      </f:for><br /><br /><br />
      <div class="row">
        <div class="large-12 medium-12 small-12 column">
          <button class="button small"><a href="javascript:history.back()" style="color:white;">zurück zur Einsatzliste</a></button>
        </div>
  </div>  
</f:section>